body{
    background-color: #EAF6F6;
}
h1{
    color:#66BFBF;
}
H3{
    color: #66BFBF;
}
hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
}